     /* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
}
.main-nav{
    position: absolute;
    right: 20px;
    top: 30px;
}
.main-nav, .main-nav ul li {
    display: inline-block;
}
.main-nav ul li a {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    border-radius: 100%;
    margin-right: 30px;
}
section {
    position: relative;
    height: 100vh;
}
#vans {
    background-color: #ff0000;
}
#tommy {
    background-color: #008000;
}
#converse {
    background-color: #ffff00;
}
